{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Certifast{% endblock %}</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.bootstrap5.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.x.x/dist/full.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">
</head>
<body class="bg-gradient-to-br from-blue-50 to-blue-100 min-h-screen" id="body">

<div class="flex min-h-screen justify-around outline-black ">

  <!-- Sidebar -->
  <div class="w-16   bg-gradient-to-br  text-black from-blue-50 to-blue-100 min-h-screen max-h-full  flex flex-col     justify-start  shadow-lg p-2  space-y-4 rounded-lg "  id="sidebar">
      <div class="flex flex-col  fixed space-y-4">
      <a href="/"><button class="btn btn-ghost btn-circle " >
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-8 stroke-1 hover:stroke-blue-600">
      <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
      </svg>
      </button></a>

           <div class="divider"></div>


      <a href="{% url 'certification_list' %}"><button class="btn btn-ghost btn-circle">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 stroke-1 hover:stroke-blue-600">
  <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
</svg>

      </button></a>


<button class="btn btn-ghost btn-circle" id="filter-button">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 stroke-1 hover:stroke-blue-600" id="filter-svg">
  <path stroke-linecap="round" stroke-linejoin="round" d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 0 1-.659 1.591l-5.432 5.432a2.25 2.25 0 0 0-.659 1.591v2.927a2.25 2.25 0 0 1-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 0 0-.659-1.591L3.659 7.409A2.25 2.25 0 0 1 3 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0 1 12 3Z" />
</svg>
</button>

           <div class="divider"></div>

          <a href="{% url 'certification_list' %}"><button class="btn btn-ghost btn-circle bg-blue-600 " id="certif-page"  >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 stroke-1 stroke-white hover:stroke-blue-600" id="certif-svg">
  <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 18.75h-9m9 0a3 3 0 0 1 3 3h-15a3 3 0 0 1 3-3m9 0v-3.375c0-.621-.503-1.125-1.125-1.125h-.871M7.5 18.75v-3.375c0-.621.504-1.125 1.125-1.125h.872m5.007 0H9.497m5.007 0a7.454 7.454 0 0 1-.982-3.172M9.497 14.25a7.454 7.454 0 0 0 .981-3.172M5.25 4.236c-.982.143-1.954.317-2.916.52A6.003 6.003 0 0 0 7.73 9.728M5.25 4.236V4.5c0 2.108.966 3.99 2.48 5.228M5.25 4.236V2.721C7.456 2.41 9.71 2.25 12 2.25c2.291 0 4.545.16 6.75.47v1.516M7.73 9.728a6.726 6.726 0 0 0 2.748 1.35m8.272-6.842V4.5c0 2.108-.966 3.99-2.48 5.228m2.48-5.492a46.32 46.32 0 0 1 2.916.52 6.003 6.003 0 0 1-5.395 4.972m0 0a6.726 6.726 0 0 1-2.749 1.35m0 0a6.772 6.772 0 0 1-3.044 0" />
</svg>
          </button></a>


 <a href="{% url 'course_list' %}"><button class="btn btn-ghost btn-circle " id="course-page">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 stroke-1 hover:stroke-blue-600" id="course-svg">
  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
</svg>

 </button></a>
 <a href="{% url 'path' %}"><button class="btn btn-ghost btn-circle " id="path-page">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 stroke-1 hover:stroke-blue-600" id="path-svg">
  <path stroke-linecap="round" stroke-linejoin="round" d="M6.429 9.75 2.25 12l4.179 2.25m0-4.5 5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0 4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0-5.571 3-5.571-3" />
</svg>

 </button></a>
          <div class="divider"></div>


      <button class="btn btn-ghost btn-circle " >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 stroke-1 hover:stroke-blue-600">
  <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0M3.124 7.5A8.969 8.969 0 0 1 5.292 3m13.416 0a8.969 8.969 0 0 1 2.168 4.5" />
</svg>

      </button>
          <button class="btn btn-ghost btn-circle " onclick="document.getElementById('modal').classList.remove('hidden')">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 stroke-1 hover:stroke-blue-600">
  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
</svg>
</button>
<button  class="btn btn-ghost btn-circle "  onclick="toggleDarkMode()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-8 stroke-1 hover:stroke-blue-600">
  <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75" />
</svg>
      </button>
          </div>
  </div>


     <!-- FIN SIDEBAR -->

    <!-- MODAL -->
    <div id="modal" class="fixed inset-0 z-50 hidden bg-black bg-opacity-50 flex items-center justify-center">

        <div class="bg-white w-[900px] h-[600px] rounded-[30px] flex shadow-xl overflow-hidden relative">



        <!-- Left panel -->
        <div class="w-1/2 p-10 flex flex-col justify-between bg-gradient-to-t from-blue-100 to-blue-50">
          <div>
            <h2 class="text-2xl font-bold text-blue-600 mb-1">Create an account</h2>

            <form id="form-sign-up" class="space-y-10 pt-8">
              <input type="text" placeholder="Full name" required class="w-full px-4 py-3 rounded-full bg-white border border-gray-300 text-black focus:outline"/>
              <input type="email" placeholder="Email" required class="w-full px-4 py-3 rounded-full bg-white border border-gray-300 text-black focus:outline"/>
              <div class="relative">
                <input type="password" placeholder="Password" required class="w-full px-4 py-3 rounded-full bg-white border border-gray-300 text-black focus:outline"/>
                <span class="absolute right-4 top-1/2 -translate-y-1/2 cursor-pointer">🔒</span>
              </div>
                <p id="create-error" class="text-red-600 mt-0 text-sm font-bold hidden"></p>
              <button type="submit" class="w-full bg-yellow-400 text-white  py-2 rounded-full font-semibold hover:bg-yellow-500 transition">
                Submit
              </button>


            </form>
              <div class="text-sm text-gray-400 mt-8">
              <button onclick="document.getElementById('loginModal').classList.remove('hidden');document.getElementById('modal').classList.add('hidden') "  class="w-full bg-blue-500 text-white  py-3 rounded-full font-semibold hover:bg-blue-700 transition">
               Login
              </button>
              </div>


          </div>
        </div>

        <!-- Right panel -->
        <div
          class="w-1/2 h-screen bg-cover bg-center relative"
          style="background-image: url('{% static 'img/login.png'%}')"
        >

        </div>
            <!-- Button Close -->
        <button onclick="document.getElementById('modal').classList.add('hidden')" class="absolute top-4 right-4 bg-white w-8 h-8 rounded-full text-gray-600 text-xl flex items-center justify-center hover:bg-red-700 hover:text-white">
          ×
        </button>
      </div>
    </div>

    <!-- MODAL DE CONNEXION -->
<div id="loginModal" class="fixed inset-0 z-50 hidden bg-black bg-opacity-50 flex items-center justify-center">
  <div class="bg-white w-[900px] h-[600px] rounded-[30px] flex shadow-xl overflow-hidden relative">

    <!-- Image décorative à gauche -->
    <div class="w-full h-screen bg-cover  " style="background-image: url('{% static 'img/login.png'%}')">
      <!-- Tu peux ajouter des éléments décoratifs ici -->
    </div>

    <!-- Formulaire à droite -->
    <div class="w-1/2 p-10 flex flex-col justify-between bg-gradient-to-b from-blue-50 to-white">
      <button
        onclick="document.getElementById('loginModal').classList.add('hidden')"
        class="absolute top-4 right-4 bg-white w-8 h-8 rounded-full text-gray-600 text-xl flex items-center justify-center hover:bg-red-700 hover:text-white"
      >
        ×
      </button>

      <div>

        <h2 class="text-2xl  text-blue-600 font-bold mb-1">Log In</h2>

        <form id="login-form" class="space-y-8 mt-6">
          <input
            type="email"
            placeholder="Email"       required
            class="w-full px-4 py-3 rounded-full bg-white border text-black  border-gray-300 focus:outline-none"
          />
          <input
            type="password"
            placeholder="Password" required
            class="w-full px-4 py-3 rounded-full bg-white border text-black border-gray-300 focus:outline-none"
          />
          <button
            type="submit"
            class="w-full bg-blue-500 text-white py-3 rounded-full font-semibold hover:bg-blue-600 transition"
          >
            Login
          </button>
        </form>

        <p id="login-error" class="text-red-600 mt-4 font-bold text-sm hidden"></p>
      </div>

      <div class="text-sm text-gray-400 mt-4">
          Pas encore inscrit ? <button onclick="document.getElementById('modal').classList.remove('hidden'); document.getElementById('loginModal').classList.add('hidden')" class="text-gray-700 font-medium underline">Créer un compte</button>
      </div>
    </div>
  </div>
</div>


<main class="container mx-1 px-1 pr-px pl-px">
    {% block content %}



    {% endblock %}
</main>
</div>
<footer class="pb-1 mt-1 py-1 text-center text-gray-400 text-sm">
    &copy; {% now "Y" %} Certifast. All rights reserved.
</footer>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>
<script>

/*


    document.addEventListener('DOMContentLoaded', function() {
        // Initialize tag-like selection boxes
        document.querySelectorAll('.js-tags').forEach(function(el) {
            new TomSelect(el, {
                plugins: ['remove_button'],
                create: false,
                maxItems: null,
                placeholder: 'Select items...'
            });
        });
    });
*/

     const CertifButton = document.getElementById('certif-page');
        const CertifSvg = document.getElementById('certif-svg');
     CertifButton.addEventListener('click', () => {
         if (CertifButton.classList.contains('bg-blue-50')) {

             CertifButton.classList.add('bg-blue-600')
          CertifSvg.classList.add('stroke-white')
        } else {
              CertifButton.classList.remove('bg-blue-600')
          CertifSvg.classList.remove('stroke-white')

         }
     });





const errorMsg = document.getElementById('create-error');

  const form = document.getElementById('form-sign-up');
  const modal = document.getElementById('modal');
  const usernamePlaceholder = document.getElementById('username-placeholder');

  form.addEventListener('submit', async function (e) {
    e.preventDefault();

    const fullName = form.querySelector('input[placeholder="Full name"]').value;
    const email = form.querySelector('input[placeholder="Email"]').value;
    const password = form.querySelector('input[placeholder="Password"]').value;

    const response = await fetch('/api/register/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': getCookie('csrftoken'),
      },
      body: JSON.stringify({ full_name: fullName, email: email, password: password })
    });

    const data = await response.json();

    if (data.exists) {
         errorMsg.innerText ="Cet utilisateur existe deja !";
          errorMsg.classList.remove('hidden');

    } else if (data.created) {
      localStorage.setItem("user", JSON.stringify({
        full_name: fullName,
        email: email
      }));

      modal.classList.add('hidden');
      usernamePlaceholder.innerText = `${fullName}`;
    }
  });

  // Fonction pour récupérer le CSRF token
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }



  // CONNEXION
    const loginForm = document.getElementById('login-form');
  const loginModal = document.getElementById('loginModal');
 const ErrorMsg = document.getElementById('login-error');

  loginForm.addEventListener('submit', async function (e) {
    e.preventDefault();

    const email = loginForm.querySelector('input[placeholder="Email"]').value;
    const password = loginForm.querySelector('input[placeholder="Password"]').value;

    const response = await fetch('/api/login/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': getCookie('csrftoken'),
      },
      body: JSON.stringify({ email, password })
    });

    const data = await response.json();

    if (data.success) {
      localStorage.setItem("user", JSON.stringify({
        full_name: data.username,
        email: data.email
      }));
     loginModal.classList.add('hidden');
      ErrorMsg.classList.add('hidden');
      usernamePlaceholder.innerText = `${data.username}`;
    } else {
      ErrorMsg.innerText = "Incorrect";
      ErrorMsg.classList.remove('hidden');
    }
  });

  // CSRF token utilitaire
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }



    const toggleButton = document.getElementById('filter-button');
     const toggleSvg = document.getElementById('filter-svg');
  const toggleDiv = document.getElementById('filter-block');

  toggleButton.addEventListener('click', () => {
    // Basculer entre max-h-0 (masqué) et max-h-[500px] (affiché)
      if (toggleDiv.classList.contains('bg-base-200')) {
        toggleDiv.classList.remove('bg-base-200','shadow-sm');
        toggleDiv.classList.toggle('max-h-0');
    toggleDiv.classList.toggle('max-h-64');
    toggleButton.classList.remove('bg-blue-600')
          toggleSvg.classList.remove('stroke-white')

      } else {
          toggleDiv.classList.toggle('max-h-0');
    toggleDiv.classList.toggle('max-h-64');
    toggleDiv.classList.add('shadow-sm','bg-base-200');
    toggleButton.classList.add('bg-blue-600')
          toggleSvg.classList.add('stroke-white')

      }


  });

  // Initialiser selon localStorage

</script>
{% block extra_scripts %}{% endblock %}
</body>
</html>

