{% extends 'base2.html' %}
{% load static %}
{% block title %}Certifast{% endblock %}
{% block content %}

<div class="flex flex-row   items-center space-y-5 space-x-5  ">
<form method="get" class=" ml-8 mb-4 flex items-center gap-2 w-full">
    <input type="text"  name="q" value="{{ query }}"  placeholder="Search" class="input input-bordered w-full max-w-xl rounded-3xl mt-4" />
     <button type="submit" class="btn btn-ghost btn-circle mt-3">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class=" mt-0 size-9 hover:size-10 hover:stroke-blue-700">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
      </svg>
      </button>

</form>

    <div class="flex justify-end space-x-5 pl-48 pt-0 items-center stroke-1">
      <div id="username-placeholder" class=" justify-end text-2xl font-bold text-gray-700"></div>

    </div>

</div>

<div class="flex flex-col">
<div class="flex w-full max-h-64 ">
{% include 'components/filtre.html' %}
</div>
<div class="divider width:2"></div>
<div class="container mx-auto px-1 py-0">

    <!-- Grille de certifications -->
    <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-4 gap-y-6 gap-x-1 mb-8 ml-4 line-height-12px">
        {% for certif in certifications %}

        <div class="card bg-white w-11/12 h-9/12   hover:shadow-2xl hover:-translate-y-2  duration-500 hover:duration-500">
            <!-- Image -->
            <figure>
                <a href="{{ certif.get_absolute_url }}">  <img src="{{ certif.image.url }}" alt="{{ certif.name }}" class="w-full h-48  object-contain bg-white hover:-translate-y-3  hover:duration-700"></a>
            </figure>

            <!-- Corps de la carte -->
            <div class="card-body p-2  pt-2 "><a href="{{ certif.get_absolute_url }}">
                <!-- Titre et badge de difficulté -->
                <h2 class="card-title text-xl text-base-200" >
                    {{ certif.name }}
                </h2>
                <div class="card-actions justify-between mt-1">
                    <div>
                        {% for category in certif.category.all|slice:":1" %}
                        <div class="badge badge-outline mr-1  text-blue-700">{{ category.name }}</div>
                        {% endfor %}
                    </div>
                <!-- Boutons d'action -->
                     <a href="{{ certif.get_absolute_url }}" class="btn btn-primary btn-sm"><button class="">Détails</button></a>
                </div>
            </a></div>
        </div>
        {% empty %}
        <div class="col-span-full text-center py-12">
            <p class="text-gray-500">Aucune certification disponible pour le moment.</p>
        </div>
        {% endfor %}
    </div>


</div>

    </div>
{% include 'components/pagination.html' %}


<script>
    document.addEventListener('DOMContentLoaded', function () {
  // Gère l'ouverture des filtres
  document.querySelectorAll('.toggle-filter-btn').forEach(button => {
    button.addEventListener('click', function () {
      const targetId = this.dataset.target;
      const targetEl = document.getElementById(targetId);
      if (targetEl.classList.contains('hidden')) {
        targetEl.classList.remove('hidden');
        this.add('btn','btn-primary');
      } else {
        targetEl.classList.add('hidden');


      }
    });
  });

  // Gère les sélections des options de filtres
  document.querySelectorAll('.filter-btn').forEach(button => {
    button.addEventListener('click', function () {
      const filterType = this.dataset.filter;
      const value = this.dataset.value;
      const input = document.getElementById(`${filterType}-input`);

      if (input.value === value) {
        input.value = '';
        this.classList.remove('btn-primary');
        this.classList.add('btn-outline');
      } else {
        document.querySelectorAll(`.${filterType}-btn`).forEach(btn => {
          btn.classList.remove('btn-primary');
          btn.classList.add('btn-outline');
        });
        input.value = value;
        this.classList.remove('btn-outline');
        this.classList.add('btn-primary');
      }
    });
  });
});


    document.addEventListener("DOMContentLoaded", function () {
    const searchInput = document.getElementById("search-certifications");
    const certifCards = document.querySelectorAll(".card");

    searchInput.addEventListener("input", function () {
      const searchTerm = this.value.toLowerCase();

      certifCards.forEach(card => {
        const name = card.querySelector(".card-title").textContent.toLowerCase();

        if (name.includes(searchTerm)) {
          card.style.display = "block";
        } else {
          card.style.display = "none";
        }
      });
    });
  });
</script>
{% endblock %}